@model List<EntityLayer.Concrete.Content>
@{
    ViewBag.Title = "GetAllContent";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br>
<div class="container">
    @using (Html.BeginForm("GetAllContent", "Content", FormMethod.Post))
    {
        <div class="input-group mb-3">
            @Html.TextBox("p", null, new { @class = "form-control", @placeholder = "Aramak istediğiniz içerik..." })
            <button class="btn btn-primary" type="submit">
                <i class="fas fa-search"></i> Ara
            </button>
        </div>
    }
</div>

@foreach (var item in Model)
{
<p>@item.ContentValue</p>
}

<script src="~/AdminLTE-3.0.4/plugins/jquery/jquery.min.js"></script>